# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 43904037f379f1eda99029a6f4044fdd12731d3b3ec84894918fb6c99f99cf6cd6c62b0f4a27c712edc1754a21bf830a718c5a867620a8c2102248764bb75024

test:
  secret_key_base: cedce9ff9df094c6ccbb36e98867bf47ef6219cfbcf706dffcf94d482f01fcfd1b11912a43357ab5f1151a7dc89540183b0343128d77b8b7f7c901e64f07f4a1

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
